html, body {
    background-color: #212121;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px;

    background-color: #292929;
}

#topbar p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;

    padding-left: 10px;

    color: white;
}

#relay-control {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 100px;
    row-gap: 65px;

    margin: 25px;
    margin-bottom: 75px;
}

.category {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.category > p {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: white;
}

.relay-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.relay-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 30px;
}

.relay-container > p {
    flex-wrap: wrap;
    flex-shrink: 100;
    
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8em;
}

.relay p span {
    font-size: 0.5em;
}

.red-led p span {
    font-size: 0.6em;
}

#system-state {
    align-items: center;
}

.system-state-container {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6em;
}

.system-state-container span.offline {
    color: #ff6b6b;
}

.system-state-container span.online {
    color: #4dd956;
}

#last-boot span {
    font-size: 0.8em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;

    flex-shrink: 0;

    background-color: #292929;
}

footer p {
    margin-right: 50px;

    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8em;

    text-wrap: stable;
    text-align: center;
}

footer img {
    height: 150px;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {
    #topbar p {
        font-size: 36px;
    }

    #topbar li {
        padding-right: 20px;
    }

    #relay-control {
        flex-direction: column;
    }

    footer p {
        font-size: 1.3em;
        margin-right: 25px;
    }
}

@media only screen and (max-width: 780px) {
    #topbar {
        padding: 20px 15px;
    }

    #topbar p {
        font-size: 32px;
    }

    #topbar li {
        display: block;
        font-size: 22px;
        padding-bottom: 16px;
    }

    .relay-container > p {
        font-size: 1.6em;
    }

    .system-state-container {
        font-size: 1.6em;
    }

    footer p {
        font-size: 1em;
        margin-right: 5px;
    }

    footer img {
        height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    #last-boot span {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 380px) {
    .relay-container > p {
        font-size: 1.2em;
    }

    .system-state-container {
        font-size: 1.2em;
    }
}
