<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); %>
        <title>LightsOnCNU - Change Password</title>
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/change-username-password.css">
        <style>
            #btn-change-password {
                background: var(--color-fg-primary) !important;
            }
        </style>
    </head>
    <body>
        <%- include('partials/header'); %>

        <main id="main">
            <div id="form-container">
                <p id="main-title"><b>Change Password</b></p>
                <form id="form" action="change-password" method="post">
                    <input type="password" name="oldPass" placeholder="Old Password">
                    <input type="password" name="newPass" placeholder="New Password">
                    <input type="password" name="confirmPass" placeholder="Confirm Password">
                    <button>Change Password</button>
                </form>
            </div>

            <% if (changePasswordResult == 'oldPassIncorrect') { %>
                <p id="info-by-cookie">Old password is incorrect!</p>
            <% } else if (changePasswordResult == 'newPassError') { %>
                <p id="info-by-cookie">Invalid new password!<br>Please use 6-63 alphanumeric characters!</p>
            <% } else if (changePasswordResult == 'passNotMatching') { %>
                <p id="info-by-cookie">Confirm password doesn't match!</p>
            <% } %>
        </main>
    </body>
</html>
